body{
  background-color: #0d7173;
  margin: 0px;
}

.underlined{
  text-decoration: underline;
}

#bottomPanel{
  width: 100vw;
  position: absolute;
  bottom: 0;
  height: 27px;
}

#startButton{
  position: absolute;
  bottom: 0;
  margin: 2px;
  font-weight: bold;
  min-width: 10px;
}

.currentApplication{
  position: absolute;
  bottom: 0;
  margin: 2px;
  margin-left: 70px;
  font-weight: bold;
}

.currentApplicationButtons{
  box-shadow: none !important;
  min-width: 25px;
}

#cadSoftwareWindow, #readmeWindow{
  width: 80%;
  height: 90vh;
  margin: auto;
  margin-top: 2.5vh;
}

.canvas{
  min-width: 100vw !important;
}

.verticalBar{
  width: 4px;
  height: 20px;
  background: #c0c0c0;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #ffffff, inset -1px -1px #ffffff, inset 1px 1px #0a0a0a;
  position: absolute;
  bottom: 0;
  margin-bottom: 3.5px;
  margin-left: 58px;
  border-radius: 5px;
}

#readmeFile{
  margin-left: 185px;
}