body{
  background-color: #0d7173;
  margin: 0px;
}

.underlined{
  text-decoration: underline;
}

#bottomPanel{
  width: 100vw;
  position: absolute;
  bottom: 0;
  height: 27px;
}

#startButton{
  position: absolute;
  bottom: 0;
  margin: 2px;
  font-weight: bold;
  min-width: 10px;
}

#currentApplication{
  position: absolute;
  bottom: 0;
  margin: 2px;
  margin-left: 80px;
  font-weight: bold;
}

.currentApplicationButtons{
  box-shadow: none !important;
  min-width: 25px;
}

#fileManager{
  width: 80%;
  height: 90vh;
  margin: auto;
  margin-top: 2.5vh;
}

#fileManager > .window-body > fieldset, #fileManager > .window-body > .tree-view{
  margin-top: 5px;
}

#fileManager > .window-body > #menu{
  height: 15px;
  padding-top: 2px;
}

#fileManager > .window-body > #address{
  height: 15px;
  padding-top: 2px;
}

#fileManager > .window-body > #address > select{
  width: 92%;
}

#fileManager > .window-body > #files{
  overflow-y: scroll;
  max-height: 70vh;
}

.canvas{
  min-width: 100vw !important;
}